.navbar{
    position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        padding: 20px 0; 
}
.navbar__list{
    display:flex;
    color: var(--color-desc);
    gap: 42px;
    text-align: center;

}
.navbar__logo{
    width: 84px;
    cursor: pointer;
}
.navbar__btn.btn-black{
    border-radius: 24.5px;
    padding: 8px 30px;
    font-weight: 600;
}
.navbar__list--items {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* Tạo khoảng cách với underline */
}
/* --- hover ---  */


.btn-black.cta-btn:hover{
    cursor: pointer;
    transition: ease 0.3s;
    background-color: var(--color-button);
}
.navbar__list--items:hover{
    font-weight: 600;
    color:var(--color-black-text);
}
.navbar__list--items::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
}

.navbar__list--items:hover::after {
    width: 99%;
}
/* -----------hero */

.hero{
    position: relative;
    padding:35px 0px;
    display:flex;
    color: var(--color-black-text);
    align-items: center;
    justify-content: space-between;
}
.hero__courses{
    right: 50%;
    bottom: 75px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 240px;
    height: 240px;
    flex-shrink: 0;
}
.box--courses{
    color: #5F5B53;
font-size: 12px;
font-weight: 400;
line-height: 26px; /* 185.714% */
    display: flex;
    align-items: center;
    gap: 12px;  
    padding: 10px 18px;
}
.box--courses:first-child{
    margin-top: 8px;
}
.courses{
    padding-bottom: 130px;
}
.courses-name{
    color:var(--color-black-text);
font-size: 16px;
font-weight: 600;
line-height: 30px;
}
.courses-icon{
    display: flex;
    padding: 12px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.icon-design{
    background-color:#FFF9E8;
}
.icon-dev{
    background-color: #FCEFFF;;
}
.icon-marketing{
    background-color: #EBEAFF;
}

.hero__left{
    width: 30%;
}
.hero__img{
    width: 360px;
    height: auto;
    object-fit: contain;
    /* margin-right: 100px; */
}

.hero__container{
    width: 360px;
}
.hero__title{
    font-family: sen;
    color: #171100;
font-size: 42px;
font-style: normal;
font-weight: 700;
letter-spacing: -1.16px;
line-height: 1.2;
margin-bottom:28px ;
}
.desc{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.hero__btn-box{
display: flex;
align-items: center;
gap: 26px;
margin-top: 38px;
margin-bottom: 48px;
}
.hero__btn-box--detail{
    line-height: 28px;
    color: var(--color-white-text);
    font-weight: 600;
    text-align: center;
    padding: 10px 18px;
    background-color: var(--color-button);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}
.hero__btn-box--detail:hover{
    cursor: pointer;
    background-color: var(--color-black-text);
}

.hero__cta-group{
    cursor: pointer;
display: inline-flex;
align-items: center;
gap: 14px;
color: #171100;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
}
.cta-group--icon{
    justify-content:center;
    display: flex;
    align-items: center;
    background-color: #5F5B53;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 40px;
background: #FFF;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
height: 40px;
width: 40px;
}
.cta-group--icon:hover{
    transition: ease 0.3s;
    box-shadow: 0px 0.5px 5px 0px var(--color-black-text);
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}
.hero__quantity--box{
    display: flex;
    gap: 16px;
    margin-top: 8px;
}
.box__detail{
    display: flex;
    /* align-items: start; */
    align-items: baseline;
    color:var(--color-black-text);
    font-family: Sen;
    font-size: 24px;
    font-weight: 700;
    gap: 12px;
}

/* ----------------------comments */
